@use 'variables' as *;

.posts {
  &__footer {
    text-align: center;
  }

  &__more {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

.post-like,
.post-dislike {
  color: #040405;
  background-color: #0404050a;
  display: inline-flex;
  align-items: center;
  transition: all cubic-bezier(0.3, 0, 1, 1) 0.1s;

  &__icon {
    width: 13px;
    fill: #040405;
  }

  &__text {
    margin-left: 4px;
    font-size: $font-size-caption;
  }

  &__count {
    margin-left: 6px;
    font-size: $font-size-numtub;
    color: #acacad;
  }
}

.post-like {
  padding: 8px 8px 8px 12px;
  border-radius: 30px 0px 0px 30px;

  &:hover,
  &--active {
    color: $color-white;
    background-color: $color-error;

    .post-dislike__count,
    .post-like__count {
      color: $color-white;
    }
  }
}

.post-dislike {
  padding: 8px 8px 8px 12px;
  border-radius: 0px 30px 30px 0px;

  &:hover,
  &--active {
    color: $color-white;
    background-color: #040405;
  }
}
