$font-family: 'SF Pro Text', sans-serif;
$font-size-title: 28px;
$font-size-text: 20px;
$font-size-caption: 14px;
$font-size-numtub: 14px;

$color-primary: #ff6b00;
$color-text: #05090e;
$color-secondary-light: #f4f4f5;
$color-border: rgba(5, 9, 14, 0.22);
$color-error: #ff3b30;
$accent-border: #ff6b004d;
$color-white: #fff;
